.about {
	margin-top: 1%;
}

.about h1{
	text-align: right;
	padding-right: 15%;
}

.about p{
	text-align: center;
}

.video {
	display: block;
	opacity: 0.8;
}

.video-container {
	position: relative;
	display: inline-block;
}

.video-container p{
	display: inline-block;
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 300%;
	color: white;
	font-weight: bold;
	font-family: 'Arizonia', cursive;
}