.App-header {
  text-align: center;
}

.App-logo {
  width: 13%;
}

.Navbar-links {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.Navbar-links li{
  display: inline;
  padding: 2%;
}

.Navbar-links a{
  text-decoration: none;
  color: #000000;
}