.App-header {
  text-align: center;
  background-image: url("../images/background/test2.jpg");
  background-size: 100%;
}

.App-logo {
  width: 13%;
}

.Body-content {

}

.Navbar-links {
  list-style-type: none;
  list-style: none;
  padding: 0;
  padding-bottom: 2%;
}

.Navbar-links li{
  display: inline;
  padding: 2%;
}

.Navbar-links a{
  text-decoration: none;
  color: #000000;
}