.App-header {
    text-align: center;
    background-image: url("./app/images/background/banner.jpg");
    background-size: 100%;
}

.App-logo {
    width: 13%;
}

.container {
    width: 100%;
    padding: 0;
}

#NavMenu {
	background-color: white;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0;
}

.navbar-nav li{
    float: none;
    display: inline-block;
    font-size: 130%;
    text-align: center;
}

.navbar-nav a{
    text-decoration: none;
    color: black;
    display: block;
    width: 150px;
    height: 50px;
}

ul.nav li:hover {
    background-color: #b3b3b3 !important; 
}

ul.nav li:hover a{
    color: #F0FFFF !important;
}